<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.3" />
  </startup>
  <runtime>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.3" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing
        privatePath="Lib;Lib\Core\Encryption;Lib\Core\HabboHotel;Lib\Core\Messages;Lib\Core\System;Lib\Core\Writer;Lib\Database;Lib\Extensions\Collections;Lib\Extensions\Enclosure;Lib\Sockets;Lib\Extensions\Updater;Lib\Extensions\Astar;Lib\Core\Imaging" />
    </assemblyBinding>
  </runtime>
</configuration>