<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeProject.ObjectPool" version="1.0.4" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="MadMilkman.Ini" version="1.0.0.0" targetFramework="net45" />
  <package id="Thrower" version="0.9.1" targetFramework="net45" />
</packages>