<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeProject.ObjectPool" version="2.0.1" targetFramework="net461" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Log4Net.Async" version="2.0.3" targetFramework="net45" />
  <package id="MadMilkman.Ini" version="1.0.6.0" targetFramework="net45" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.102.0" targetFramework="net461" />
  <package id="Thrower" version="3.0.1" targetFramework="net461" />
</packages>