<?xml version="1.0" encoding="utf-8"?>
<!--
Web.config file for Yupi.Web.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <configSections>
      <section name="cassette" type="Cassette.CassetteConfigurationSection, Cassette" requirePermission="false" />
    </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="Cassette.Views" />
      </namespaces>
    </pages>
  <httpModules>
            <add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
        </httpModules><httpHandlers>
            <add path="cassette.axd" verb="*" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
        </httpHandlers></system.web>
<!-- For configuration options: http://getcassette.net/documentation/v2/web-config -->
	<cassette cacheDirectory="WebCache"  />
	<system.webServer>
        <modules>
            <add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
        </modules>
        <handlers>
            <add name="CassetteHttpHandler" path="cassette.axd" preCondition="integratedMode" verb="*" allowPathInfo="true" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
        </handlers>
    </system.webServer></configuration>