<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeProject.ObjectPool" version="2.0.1" targetFramework="net45" requireReinstallation="True" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net45" requireReinstallation="True" />
  <package id="System.Data.SQLite.Linq" version="1.0.102.0" targetFramework="net45" requireReinstallation="True" />
  <package id="Thrower" version="3.0.1" targetFramework="net461" />
</packages>