<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentMigrator" version="1.6.2" targetFramework="net461" />
  <package id="FluentMigrator.NHibernate" version="1.0.0.10" targetFramework="net461" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net461" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="OptimizedPriorityQueue" version="3.0.0" targetFramework="net45" />
  <package id="System.Numerics.Vectors" version="4.1.1" targetFramework="net461" />
  <package id="Thrower" version="3.0.4" targetFramework="net461" />
</packages>